
<%= turbo_frame_tag monthly_item do %>
    <div class="row">
      <span>
        <h3 class="fw-lighter text-success">
          <%= link_to monthly_item_path(monthly_item), data: { "turbo_frame": "_top" }, class: "text-decoration-none" do %>
            <span> <%= monthly_item.month.capitalize %></span>
          <% end %>
        </h3>
      </span>
    </div>

    <div class="row mt-4">
      <span class="fw-lighter text-primary">Incomes: <%= monthly_item.month_incomes %></span>
      <span class="fw-lighter text-danger">Outcomes: <%= monthly_item.month_outcomes %></span>
    </div>
<% end %>