<%= link_to(monthly_item_path(monthly_item), class: "text-decoration-none", data: { "turbo_frame": "_top" }) do %>
  <div class="monthly_items_list">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center bg-white m-2">
        <span class="fw-bold p-2 text-capitalize"><%= monthly_item.month %></span>
        <!--TODO: refactor -->
        <span><%= Item.current_month(monthly_item).total_incomes %></span>
        <span><%= Item.current_month(monthly_item).total_outcomes %></span>
        <span><%= monthly_item.msc_by_month %></span>
      </li>
    </ul>
  </div>
<% end %>
