<%= turbo_frame_tag item do %>
  <div class="mt-3 fw-lighter fs-5">
    <div class="list list-inline mb-2">
      <div class="row border-bottom pb-2">
        <div class="col-5">
          <span class="fw-bold p-2 text-capitalize"><%= item.name %></span>
        </div>
        <div class="col">
          <span><%= item.amount %></span>
        </div>
        <div class="col">
          <span>
            <%= form_with model: [item.monthly_item, item] do |form| %>
              <%= form.check_box :applied, data: { item_id: item.id, monthly_item_id: item.monthly_item.id, action: "items#submit_charge" }, class: 'form-check-input' %>
            <% end %>
          </span>
        </div>
        <div class="col">
          <span>
            <%= link_to "", monthly_item_item_path(item.monthly_item, item),
                            class: "bi bi-pen-fill text-danger" %>
            <%= link_to "", monthly_item_item_path(item.monthly_item, item),
                                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                                  class: "bi bi-eraser-fill text-danger" %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
